<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.scotts.mygarden.test.TestAccount"/>
      <class name="com.scotts.mygarden.test.TestExplorer"/>
      <class name="com.scotts.mygarden.test.TestSuccessPlans"/>
      <class name="com.scotts.mygarden.test.TestFreshTips"/>
      <class name="com.scotts.mygarden.test.TestProjectOverview"/>
      <class name="com.scotts.mygarden.test.TestSignup"/>
      <class name="com.scotts.mygarden.test.TestLogin"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
